Python packages to be installed

pip install msedge-selenium-tools 
pip install html5lib
pip install textblob
pip install sentence_transformers
pip install bertopic
pip install seqeval
pip install spacy
